|===
| Code | ReasonPhrase | Error Code | Message

{{#fields}}
|{{#tableCellContent}}`{{http status}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{reason phrase}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{error code}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{message}}`{{/tableCellContent}}
{{/fields}}
|===
