|===
| Code | ReasonPhrase | Error Code | Message

{{#fields}}
|{{#tableCellContent}}`{{status}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{reasonPhrase}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{code}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{message}}`{{/tableCellContent}}
{{/fields}}
|===
